body {
    background-color:#404047;
}
.box:hover {
    background-color:#838383;
    filter:drop-shadow(0px 0px 10px)
}
.box {
    color:#FFFFFF;
    background-color: #606066;
    border-color:#FFFFFF;
    border:3px solid #FFFFFF;

    height:30%;
    width:200px;

    float:left;
    text-align:center;
}
    .box1 {
        color:#FFFFFF;
        background-color: #606066;
        border-color:#FFFFFF;
        border:3px solid #FFFFFF;
    
        height:200px;
        width:200px;
    
        float:right;
        text-align:center;

}
.buttons {
}
img {
    width:100%;
}
.Feedback {
    width:200px;
}